/* === 首页 === */
.index { }
.index .firstScreen { margin-bottom: 20px; }
.help-icon { display: block; width: 24px; height: 22px; background-image: url(../img/help_icon.png); }
.help-icon.sNav { background-position: 0 0; margin: 5px 15px 0 0; padding: 0 !important; transition: none; }
.help-icon.sNav:hover { background-position: -35px 0; }
.nav .nav-hy { margin-left: 3px; padding: 0 12px; background: url(../img/help_icon.png) no-repeat; }
.nav li:hover .nav-hy { background: url(../img/help_icon.png) no-repeat -72px 0; }
/* 服务目录 */
.index .nav-service { float: left; width: 265px; }
.index .nav-service h2 { font-size: 16px; padding: 4px 20px; color: #fff; background: #6499d2; }
.index .nav-service dl { padding-bottom: 5px; border: 1px solid #ddd; border-top: none; background: #fff; }
.index .nav-service dl dt { margin-bottom: 5px; border-bottom: 1px solid #ddd; font-size: 14px; font-weight: normal; background: #f6fbfe; }
.index .nav-service dl dt a { padding: 6px 20px; display: inline-block; text-decoration: none; color: #043aa1; }
.index .nav-service dl dt a:hover { color: #f60; }
.index .nav-service dl dt i { float: right; margin: 5px 15px 0 0; font-size: 24px; color: #749fcc; }
.index .nav-service dl dd:last-child a { border-bottom: none; }
.index .nav-service dl dd a { display: block; color: #666; border-bottom: 1px dotted #90b7e1; text-decoration: none; margin: 0 20px 0 30px; padding: 3px 5px; }
.index .nav-service dl dd a:hover { color: #f60; background: #fff; }
.index .nav-service dl dd.more a { color: #6499d2; font-size: 12px; }
.index .nav-service dl dd.more a:hover { color: #f30; }
.index .hy-help { margin-top: 10px; }
.index .rCont { float: right; width: 885px; }
/* 幻灯片焦点图 */
.index .slide { margin-bottom: 20px; }
.slideBox { width: 885px; height: 200px; margin: 0 auto; overflow: hidden; position: relative; }
.slideBox .hd { display: none; height: 18px; overflow: hidden; position: absolute; left: 48%; bottom: 8px; z-index: 1; }
.slideBox .hd ul { overflow: hidden; zoom: 1; float: left; }
.slideBox .hd ul li { float: left; margin-right: 6px; width: 14px; height: 14px; line-height: 14px; text-align: center; background: #fff; cursor: pointer; border-radius: 50%; border: 1px solid #fff; }
.slideBox .hd ul li.on { background: #f60; color: #fff; }
.slideBox .bd { position: relative; height: 100%; z-index: 0; }
.slideBox .bd li { zoom: 1; vertical-align: middle; }
.slideBox .bd li img { width: 885px; height: 200px; }
.slideBox .prev, .slideBox .next { position: absolute; left: 3%; top: 50%; margin-top: -35px; display: block; width: 40px; height: 70px; background: url(../img/slider-arrow.png) no-repeat; filter: alpha(opacity=50); opacity: 0.2; }
.slideBox .next { left: auto; right: 3%; background-position: -47px 0; }
.slideBox .prev:hover, .slideBox .next:hover { filter: alpha(opacity=100); opacity: 1; }
/* 产品目录 */
.index .nav-product { border: 1px solid #ddd; }
.index .title { padding: 0 20px 0 0; overflow: hidden; clear: both; border-bottom: 1px solid #ddd; background: #f8f8f8; }
.index .title h3 { float: left; font-size: 16px; padding: 2px 30px 2px 20px; color: #333; line-height: 28px; border-bottom: 2px solid #3773b5; }
.index .title h3 i { font-size: 18px; }
.index .title span { margin-top: 6px; float: right; }
.index .nav-product .list { padding: 8px 5px; clear: both; overflow: hidden; }
.index .nav-product .list dl { float: left; width: 410px; padding-left: 5px; padding-bottom: 4px; margin: 0 10px; }
.index .nav-product .list dl:nth-child(7), .index .nav-product .list dl:nth-child(8) { border-bottom: none; }
.index .nav-product .list dt { color: #ef5f17; padding: 6px 0 3px 5px; }
.index .nav-product .list dt a { color: #ef5f17; }
.index .nav-product .list dd { height: 40px; overflow: hidden; }
.index .nav-product .list dd a { color: #666; line-height: 20px; padding: 0px 0px 0px 5px; display: inline-block; }
.index .nav-product .list dd a:hover { color: #ef5f17; }
/* 产品推荐 */
.index .ourProduct { margin-bottom: 20px; border: 1px solid #ddd; }
.index .ourProduct .title { background: #f8f8f8 url(../img/title-sj.png) no-repeat right top; }
.index .ourProduct ul { }
.index .ourProduct ul li { padding: 20px 0; float: left; text-align: center; width: 16.6%; }
.index .ourProduct ul li a { display: block; text-decoration: none; }
.index .ourProduct ul li a:hover img { opacity: .85; }
.index .ourProduct ul li:last-child { border-right: none; }
.index .ourProduct ul li .pic { height: 120px; margin-bottom: 10px; }
.index .ourProduct ul li .pic img { width: 60%; }
.index .ourProduct ul li p.color-red { font-size: 20px; }
.index .ourProduct ul li a:hover p { color: #f30; }
.index3 { }
/* 资讯 */
.index .news { float: left; width: 810px; }
.slideTxtBox { width: 810px; border: 1px solid #ddd; text-align: left; }
.slideTxtBox .hd { height: 34px; background: #f8f8f8; padding: 0 10px 0 20px; border-bottom: 1px solid #ddd; position: relative; }
.slideTxtBox .hd ul { float: left; position: absolute; left: 0; }
.slideTxtBox .hd ul li { float: left; font-size: 15px; height: 34px; line-height: 32px; margin-right: 10px; padding: 0 20px; cursor: pointer; color: #333; }
.slideTxtBox .hd ul li.on { height: 35px;margin-top:-1px; background: #ef5f17; color: #fff; }
.slideTxtBox .bd ul { /*border-top: 1px dashed #ccc; margin-top: 22px; padding-top: 15px; */zoom: 1; clear: both; overflow: hidden; }
.slideTxtBox .bd li { height: 24px; line-height: 24px; }
.slideTxtBox .bd li .date { float: right; color: #999; }
.slideTxtBox .bd .news-pic { padding: 20px; }
.slideTxtBox .bd .news-pic img { float: left; margin-right: 20px; }
.slideTxtBox .bd .news-pic dt { font-weight: normal; font-size: 18px; padding: 10px 0; color: #f64a07; }
.slideTxtBox .bd .news-pic dt a { color: #245dbc; }
.slideTxtBox .bd .news-pic dd { line-height: 24px; }
/* 品牌推荐 */
.index .brand { float: right; width: 340px; border: 1px solid #ddd; border-bottom: none; }
.index .brand ul li { float: left; width: 169px; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.index .brand ul li:nth-child(2n+1) { border-left: none; }
.index .brand ul li img:hover { opacity: .8; }
.index .brand .title { background: #f8f8f8 url(../img/title-sj.png) no-repeat right top; }

